
<%- include('./partials/_header') %>
  <%
  let name = "山田";
  %>
  <h1>こんにちは <%= name %>さん</h1>

  <%
  let lists = [
    {
      id: 'apple',
      name: 'りんご'
    },
    {
      id: 'gorilla',
      name: 'ごりら'
    },
    {
      id: 'trumpet',
      name: 'ラッパ',
    },
  ];
  %>
  <ul>
    <% lists.forEach(element => { %>
      <li class="<%= element.id %>"><%= element.name %></li>
      <% }); %>
  </ul>

  <%- include('./partials/_link', {url: '#link', text: 'リンクテキスト'}) %>
  
<%- include('./partials/_footer') %>
</body>
</html>